@import "tailwindcss";

html, body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
}

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-bg-light: #ffffff;
  --color-bg-dark: #1b1b1b;

  --color-text-light: #6b7280; /* gray-500 */
  --color-text-dark: #f3f4f6; /* gray-100 */

}

